.container {
  /* display: flex;
  justify-content: space-around; */
}

.container:first-child button {
  background-color: forestgreen;
}
.container:nth-child(even) button {
  background-color: gray;
}
.container :last-child button {
  background-color: red;
}

.button {
  width: 120px;
  margin-left: auto;
  margin-right: 20px;
  border-radius: 4px;
  padding: 12px 24px;
  color: white;
}

.button:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
